@model MWCore.Areas.MWCore.Models.MWCoreModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    <h4 class="modal-title" id="myModalLabel">
        @if (Model.oVehicleType.VehicleID > 0)
        {
            <text> Edit Vehicle Type</text>

        }
        else
        {
            <text>Add New Vehicle Type</text>

        }
    </h4>
</div>

@using (Ajax.BeginForm("SaveVehicleType", "VehicleTypesControl", new AjaxOptions { UpdateTargetId = "divVehicleTypes", OnBegin = "PreSave", OnSuccess = "unloadModal('Vehicle Type')" }, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(m => m.oVehicleType.VehicleID)
    @Html.HiddenFor(m => m.oVehicleType.LanguageID)

    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="inputEmail3" style="width:90px;">Name</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.oVehicleType.VehicleName, new { @class = "form-control", @placeholder = "Name" })
                @Html.ValidationMessageFor(m => m.oVehicleType.VehicleName, "", new { @style = "color:orange;" })
            </div>
        </div>
    </div>

    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="inputEmail3" style="width:90px;">Logo</label>
            <div class="col-sm-10">
                @if (Model.oVehicleType.VehicleID > 0)
                {
                    @Html.TextBoxFor(m => m.oFileUploader.EditFiles, new { @id = "ImageUpload", @type = "file", @name = "Files", @class = "form-control", @placeholder = "Vehicle Type Image" })
                    @Html.ValidationMessageFor(m => m.oFileUploader.EditFiles, "", new { @style = "color:orange;" })
                }
                else
                {
                    @Html.TextBoxFor(m => m.oFileUploader.Files, new { @id = "ImageUpload", @type = "file", @name = "Files", @class = "form-control", @placeholder = "Car Make Image" })
                    @Html.ValidationMessageFor(m => m.oFileUploader.Files, "", new { @style = "color:orange;" })
                }
                @Html.Image("/assets/images/Uploads/" + @Model.oVehicleType.Logo + "", "", new { @id = "imgPreview", @height = "100", @width = "200" })
                @Html.HiddenFor(m => m.oVehicleType.Logo, new { @id = "HdnImg" })
            </div>
        </div>
    </div>

    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="inputEmail3" style="width:90px;">Base Fare</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.oVehicleType.BaseFare, new { @class = "form-control", @placeholder = "Name" })
                @Html.ValidationMessageFor(m => m.oVehicleType.BaseFare, "", new { @style = "color:orange;" })
            </div>
        </div>
    </div>

    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="inputEmail3" style="width:90px;">Cost Per Delayed Minute</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.oVehicleType.CostPerDelayedMinute, new { @class = "form-control", @placeholder = "Name" })
                @Html.ValidationMessageFor(m => m.oVehicleType.CostPerDelayedMinute, "", new { @style = "color:orange;" })
            </div>
        </div>
    </div>

    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="inputEmail3" style="width:90px;">Cost Per Km</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.oVehicleType.CostPerKM, new { @class = "form-control", @placeholder = "Name" })
                @Html.ValidationMessageFor(m => m.oVehicleType.CostPerKM, "", new { @style = "color:orange;" })
            </div>
        </div>
    </div>

    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="inputEmail3" style="width:90px;">Cost Per Minute</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.oVehicleType.CostPerMinute, new { @class = "form-control", @placeholder = "Name" })
                @Html.ValidationMessageFor(m => m.oVehicleType.CostPerMinute, "", new { @style = "color:orange;" })
            </div>
        </div>
    </div>

    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="inputEmail3" style="width:90px;">Minimum Fare</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.oVehicleType.MinimumFare, new { @class = "form-control", @placeholder = "Name" })
                @Html.ValidationMessageFor(m => m.oVehicleType.MinimumFare, "", new { @style = "color:orange;" })
            </div>
        </div>
    </div>


    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="inputEmail3" style="width:90px;">Tax</label>
            <div class="col-sm-10">
                @Html.DropDownListFor(m => m.oVehicleType.TaxID, Model.lstTaxesItemsList, new { @class = "form-control", @placeholder = "Sort Order" })
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="inputEmail3" style="width:90px;">Status</label>
            <div class="col-sm-10">
                @Html.DropDownListFor(m => m.oVehicleType.Status, Model.lstStatus, new { @class = "form-control", @placeholder = "Sort Order" })
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" id="btnSave" class="btn btn-info"><i class="fa fa-save"></i> Save</button>
    </div>
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
 $(document).ready(function () {
        $("#ImageUpload").change(function () {

            $('#btnSave').attr("disabled", "disabled");
            $('#btnSave').text('Wait...');
            var FilesExtensions = /(.*?)\.(jpg|jpeg|png|JPG|JPEG|PNG)$/;
            var data = new FormData();
            var files = $("#ImageUpload").get(0).files;
            var file = $("#ImageUpload").val().toLowerCase();
            if (files.length > 0 && file.match(FilesExtensions)) {
                data.append("MyImages", files[0]);
                var url = "@Url.Action("UploadImage", "DashboardControl")";
                url += '?width=1550&height=523';
            $.ajax({
                url: url,
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {

                    if (response != "Error") {
                        $("#imgPreview").attr('src', '/assets/images/Uploads/' + response);
                        $('#HdnImg').val(response);
                    }
                    else {
                        $("#ImageUpload").val("");
                    }
                    $('#btnSave').removeAttr("disabled");
                    $('#btnSave').text('Save');
                },
                error: function (er) {
                    $("#ImageUpload").val("");
                    $('#btnSave').removeAttr("disabled");
                    $('#btnSave').text('Save');
                }

            });
            }
            else
            {
                $("#ImageUpload").val("");
                $('#btnSave').removeAttr("disabled");
                $('#btnSave').text('Save');
            }
        });
    })
</script>
