@model MWCore.Areas.MWCore.Models.MWCoreModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    <h4 class="modal-title" id="myModalLabel">
        @if (Model.oArea.AreaID > 0)
        {
            <text> Edit Area</text>

        }
        else
        {
            <text>Add New Area</text>

        }
    </h4>
</div>

@using (Ajax.BeginForm("SaveArea", "GlobalizationControl", new AjaxOptions { UpdateTargetId = "divAreas", OnBegin = "PreSave", OnSuccess = "unloadModal('Area')" }, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(m => m.oArea.AreaID)
    @Html.HiddenFor(m => m.oArea.CityID)
    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="inputEmail3" style="width:90px;">Name</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.oArea.AreaName, new { @class = "form-control", @placeholder = "Area Name" })
                @Html.ValidationMessageFor(m => m.oArea.AreaName, "", new { @style = "color:orange;" })
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="inputEmail3" style="width:90px;">Status</label>
            <div class="col-sm-10">
                @Html.DropDownListFor(m => m.oArea.Status, Model.lstStatus, new { @class = "form-control", @placeholder = "Sort Order" })
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" id="btnSave" class="btn btn-info"><i class="fa fa-save"></i> Save</button>
    </div>
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>