@model MWCore.Areas.MWCore.Models.Modules.Emails.EmailTemplateCollections

@{
    Layout = null;
}

<html>
<head>
    <title>DIRYAL</title>
</head>
<body>

    <!-- Start HTML -->


    <div align="center">


        <table width="100%" cellspacing="0" style="background: #f6f6f6; border: 1px solid #999999; border-radius: 30px;" cellpadding="30">

            <tr>
                <th>
                    <div align="center">
                        <table border="0" width="100%" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="center">

                                    <img border="0" src="@Model.WebsiteURL/EmailsTemplates/Images/Logo.jpg" width="250" height="172">
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <b><font size="6">DIRYAL</font></b><font size="6">
                                </td>
                            </tr>
                            <tr>
                                <td align="center" height="30">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td align="center">

                                    <table cellspacing="0" style="border: 2px solid #999999; border-radius: 35px;" cellpadding="0">
                                        <tr>
                                            <td align="center">
                                                <table cellspacing="0" style="background: #FFFFFF; border: 5px solid #ffffff; border-radius: 35px;font-size: 24px;color: #ffffff;" cellpadding="30">

                                                    <tr>
                                                        <td align="center" style="background: #0066CC; border-top-right-radius: 35px; border-top-left-radius: 35px; font-size: 35px;color: #ffffff;">
                                                            Your password has been changed
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td align="center" style="background: #242d41; border-bottom-right-radius: 35px; border-bottom-left-radius: 35px; color: #ffffff;">
                                                            <table border="0" width="840" cellspacing="0" cellpadding="0" style="color: #ffffff;">
                                                                <tr>
                                                                    <td align="center" height="70">
                                                                        <font size="6" color="#EFB116">
                                                                            Hi @Model.oResetPasswordEmailTemplate.FullName
                                                                            !
                                                                        </font>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left">
                                                                        <table border="0" width="100%" cellspacing="0" cellpadding="5">
                                                                            <tr>
                                                                                <td width="100%" height="50"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td width="100%"><font size="4">Your new password is: <strong>@Model.oResetPasswordEmailTemplate.NewPassword</strong></font></td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                            <tr>
                                <td align="center" height="50">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td align="center">

                                    <table cellspacing="0" style="border: 2px solid #999999; border-radius: 35px;" cellpadding="0">
                                        <tr>
                                            <td align="center">
                                                <table cellspacing="0" style="background: #ffffff; border: 5px solid #ffffff; border-radius: 35px;font-size: 24px;color: #ffffff;" cellpadding="30">

                                                    <tr>
                                                        <td align="center">
                                                            <table border="0" width="840" cellspacing="0" cellpadding="0" style="font-size: 24px;color: #ffffff;">
                                                                <tr>
                                                                    <td align="center" height="100">
                                                                        <table cellspacing="0" cellpadding="0" width="100%">

                                                                            <tr>
                                                                                <td align="center" height="50">
                                                                                    <font size="5" color="#000000">
                                                                                        Download the DIRYAL app
                                                                                        for FREE
                                                                                    </font><font size="5">
                                                                                    </font>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center">
                                                                                    <div align="center">
                                                                                        <table border="0" width="840" cellspacing="0" cellpadding="5">
                                                                                            <tr>
                                                                                                <td align="center">

                                                                                                    <table border="0" width="70%" cellspacing="0" cellpadding="5">
                                                                                                        <tr>
                                                                                                            <td align="center">

                                                                                                                <img border="0" src="@Model.WebsiteURL/EmailsTemplates/Images/app-store.jpg" width="250" height="73">
                                                                                                            </td>
                                                                                                            <td align="center">

                                                                                                                <img border="0" src="@Model.WebsiteURL/EmailsTemplates/Images/google-play.jpg" width="250" height="73">
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </div>


                                                                                    &nbsp;
                                                                                </td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td align="center">
                                                                                    <div align="center">
                                                                                        <table border="0" width="100%" cellspacing="0" cellpadding="8">
                                                                                            <tr>
                                                                                                <td colspan="4" align="center">
                                                                                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                                                                                        <tr>
                                                                                                            <td width="7%">&nbsp;</td>
                                                                                                            <td width="93%">
                                                                                                                <img border="0" src="@Model.WebsiteURL/EmailsTemplates/Images/follow-win.png" align="left">
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td align="center">
                                                                                                    <a href="https://www.facebook.com/One-winner-1255944144570963/">
                                                                                                        <img border="0" src="@Model.WebsiteURL/EmailsTemplates/Images/facebook-win.png" width="100" height="100">
                                                                                                    </a>
                                                                                                </td>
                                                                                                <td align="center">
                                                                                                    <a href="https://twitter.com/one_winners">
                                                                                                        <img border="0" src="@Model.WebsiteURL/EmailsTemplates/Images/twitter-win.png" width="100" height="100">
                                                                                                    </a>
                                                                                                </td>
                                                                                                <td align="center">
                                                                                                    <a href="https://www.instagram.com/winner.app/">
                                                                                                        <img border="0" src="@Model.WebsiteURL/EmailsTemplates/Images/instagram.png" width="100" height="100">
                                                                                                    </a>
                                                                                                </td>
                                                                                                <td align="center">
                                                                                                    <a href="https://www.youtube.com/channel/UCfKXCbDHB5ThULWXsNDzSjw?view_as=subscriber">
                                                                                                        <img border="0" src="@Model.WebsiteURL/EmailsTemplates/Images/youtube.png" width="100" height="100">
                                                                                                    </a>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                        </table>
                    </div>

                    <p>&nbsp;
                </th>
            </tr>

        </table>
    </div>



    </td>
    </tr>

    </table>
    </div>





    <!-- End HTML -->

</body>
</html>